<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About EJS</title>
</head>
<body>
    <%- include("./common/header") %>
    <h1>About</h1>

    <ul>
        <% teams.map((t) => { %>
            <li><%= t %></li>
        <% }) %>
    </ul>

    <%- include("./common/footer") %>
</body>
</html>